
extends kaagazz

block content
	div.mcq
		div.question !{sections.question.Html()}

		div.options
			div.option
				div.code A
				div.text= sections.a.Content()
			div.option
				div.code B
				div.text= sections.b.Content()
			div.option
				div.code C
				div.text= sections.c.Content()
			div.option
				div.code D
				div.text= sections.d.Content()

		if sections.answer
			div.answer !{sections.answer.Content()}

		if sections.explanation
			div.explanation !{sections.explanation.Html()}

		if sections.comment
			div.comment !{sections.comment.Html()}


