
extends kaagazz

block content
	div.mcq
		div.question !{kuz.content.question.getHtml()}

		div.options
			div.option
				div.code A
				div.text= kuz.content.a.getHeading()
			div.option
				div.code B
				div.text= kuz.content.b.getHeading()
			div.option
				div.code C
				div.text= kuz.content.c.getHeading()
			div.option
				div.code D
				div.text= kuz.content.d.getHeading()

		if kuz.content.answer
			div.answer !{kuz.content.answer.getHeading()}

		if kuz.content.explanation
			div.explanation !{kuz.content.explanation.getHtml()}

		if kuz.content.comment
			div.comment !{kuz.content.comment.getHtml()}


