
extends kaagazz

block content
	div.content !{article.GetContentHtml()}
	div.question !{sections.question.Html()}

	div.options
		div.option= sections.a.Content()
		div.option= sections.b.Content()
		div.option= sections.c.Content()
		div.option= sections.d.Content()

	div.explanation !{sections.explanation.Html()}


