
extends kaagazz

block content
	div.mcq
		div.question !{kuz.contentSections.question.getHtml()}

		div.options
			div.option
				div.code A
				div.text= kuz.contentSections.a.getHeading()
			div.option
				div.code B
				div.text= kuz.contentSections.b.getHeading()
			div.option
				div.code C
				div.text= kuz.contentSections.c.getHeading()
			div.option
				div.code D
				div.text= kuz.contentSections.d.getHeading()

		if kuz.contentSections.answer
			div.answer !{kuz.contentSections.answer.getHeading()}

		if kuz.contentSections.explanation
			div.explanation !{kuz.contentSections.explanation.getHtml()}

		if kuz.contentSections.comment
			div.comment !{kuz.contentSections.comment.getHtml()}


