
extends kaagazz

block content
	div.mcq
		div.question !{kuz.sections.question.Html()}

		div.options
			div.option
				div.code A
				div.text= kuz.sections.a.Content()
			div.option
				div.code B
				div.text= kuz.sections.b.Content()
			div.option
				div.code C
				div.text= kuz.sections.c.Content()
			div.option
				div.code D
				div.text= kuz.sections.d.Content()

		if kuz.sections.answer
			div.answer !{kuz.sections.answer.Content()}

		if kuz.sections.explanation
			div.explanation !{kuz.sections.explanation.Html()}

		if kuz.sections.comment
			div.comment !{kuz.sections.comment.Html()}


